@model Entities.Concrete.User

@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>
<br />
@using (Html.BeginForm("EditRole", "User", FormMethod.Post, new { @class = "was-validated", enctype = "multipart/form-data", id = "contactForm" }))
{
    @Html.HiddenFor(x => x.UserPassword, new { @class = "form-control" })
    @Html.HiddenFor(x => x.UserId, new { @class = "form-control" })
<div class="mb-3">
    <label for="cn" class="form-label">User Name</label>
    <input class="form-check-input form-control" value="@Model.UserName" id="cn" type="text" name="UserName">
    <br />
    @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "text-danger" })
</div>
    <br />
    <div class="mb-3">
        <label for="cs" class="form-label">User Surname</label>
        <input class="form-check-input form-control" value="@Model.UserSurname" id="cs" type="text" name="UserSurname">
        <br />
        @Html.ValidationMessageFor(x => x.UserSurname, null, new { @class = "text-danger" })
    </div>
    <br />
    <div class="mb-3">
        <label for="pn" class="form-label">User Mail</label>
        <input class="form-check-input form-control" id="pn" value="@Model.UserMail" type="email" name="UserMail">
        <br />
        @Html.ValidationMessageFor(x => x.UserPassword, null, new { @class = "text-danger" })
    </div>
    <br />
    @Html.Label("Role")
    @Html.DropDownListFor(x => x.RoleId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    <br />
    <button style="background-color: #4eacdd;" type="submit" class="btn btn-primary">Submit</button>
}

<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />