@model List<Contact>


@{
    ViewBag.Title = "ListUserContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@if (TempData["Added"] != null)
{
    <p class="alert alert-success" id="successMessage">Contact added successfully.</p>
}
@if (TempData["Deleted"] != null)
{
    <p class="alert alert-success" id="successMessage">Contact deleted successfully.</p>
}
@if (TempData["Edited"] != null)
{
    <p class="alert alert-success" id="successMessage">Contact edited successfully.</p>
}

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Number</th>
        <th>Mail</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserId</td>
            <td>@item.ContactName</td>
            <td>@item.ContactSurname</td>
            <td>@item.ContactTelNumber</td>
            <td>@item.ContactEmail</td>
            <td><a href="/Contact/DeleteContact/@item.ContactId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Contact/EditContact/@item.ContactId" class="btn btn-warning">Update</a></td>
        </tr>
    }
</table>
<br />